body {
  font-family: Noto San JP, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
  line-height: 1.6;
  /* margin:; */
  box-sizing: border-box;
  background-color: #fff;
  color: #4A4A4A;
  font-size: 18px;
}

@media screen and (max-width: 1024px){
  body {
  font-size: 16px;
}
}

@media screen and (max-width: 480px) {
    body {
  font-size: 12px;
}
}

.container {
  width:90%;
  margin: auto;
  text-align: left;
}

.featured {
  margin: 5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #224466;
}

nav{
transition: all .5s ease-in-out;
}

img {
  object-fit: cover;
}

.heading_navy, .heading_aqua  {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .heading_navy, .heading_aqua  {
  font-size: 26px;
}
}

@media screen and (max-width: 768px){
  .heading_navy, .heading_aqua  {
  font-size: 22px;
}
}

@media screen and (max-width: 480px){
  .heading_navy, .heading_aqua  {
  font-size: 20px;
}  
}

.heading_aqua, .subheading_aqua{
  color: #79A1C0;
}

/* ヘッダー */
header {
  background-color: #fff;
  position: fixed;
  /* top:;
  left:; */
  width:100%;
  height:72px;
  font-size: 16px;
  z-index: 1000;
}

@media screen and (max-width: 480px){
  header {
  height:60px;
}
}

header .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

@media screen and (max-width: 480px){
 .container-header{
  /* display: flex; */
  justify-content: center;
}
}

header img {
  margin: 1rem;
  width: 40px;
}

@media screen and (max-width: 480px){
 header img {
  margin: 1rem 0;
  width: 30px;
} 
}

.header-companyname{
  font-size: 26px;
  font-weight: bold;
}

@media screen and (max-width: 480px){
 .header-companyname{
  font-size: 20px;
} 
}

@media screen and (max-width: 768px){
.pconly {
  display: none;
} 
}

.pconly_list {
  /* width:auto; */
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  /* justify-content: space-between; */
}

.pconly_list li {
  margin-left: 2.5rem;
}

.pconly_list a {
  color: #224466;
}

/* ヘッダー　 表示切り替え*/
.pctab-only {
    display: block; 
}

.sp-only, header-wrap{
  display: none;
}

@media screen and (max-width: 768px){
.sp-only, header-wrap{
  display: block;
}
}

@media screen and (max-width: 768px){
.pctab-only{
  display: none;
}
}

.header-wrap{
    display: none;
}

.header-wrap__nav {
  display: none;
}

.header-wrap__nav__list {
  display: none;
}

@media screen and (max-width: 768px){
.header-wrap{
  display: block;
}

.header-wrap__nav {
  display: block;
  margin-right: 130px;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
}


/* ヘッダー　ハンバーガーメニュー */
.h-open {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  cursor: pointer;
  aspect-ratio:1/1;
    width: 3.75rem;
    height: 3.75rem;
  /* height:6rem; */
  background-color: #224466;
  text-align: center;
}

@media screen and (max-width: 768px){
  .h-open{
  width:72px;
  height:72px;
  }
}

@media screen and (max-width: 480px){
  .h-open {
  width:60px;
  height:60px;
}
}

.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 26%;
  height: 0.2rem;
  border-radius: 2px;
  background-color: #fff;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .h-open span {
    left:25%;
  }
}

.h-open span:nth-of-type(1) {
  top: 28%;
}

.h-open span:nth-of-type(2) {
  top: 50%;
}

.h-open span:nth-of-type(3) {
  top: 72%;
}

.h-open.active span:nth-of-type(1) {
  left: 24px; 
  top: 25px;
  left: 15px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

@media screen and (max-width: 768px){
.h-open.active span:nth-of-type(1) {
  top: 30px;
  left: 20px;
}  
}

@media screen and (max-width: 480px){
.h-open.active span:nth-of-type(1) {
  top: 24px;
  left: 16px;
}    
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  top: 38px;
  left: 15px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

@media screen and (max-width: 768px){
 .h-open.active span:nth-of-type(3) {
  top: 42px;
  left: 20px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
} 
}

@media screen and (max-width: 480px){
 .h-open.active span:nth-of-type(3) {
  top: 36px;
  left: 16px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}   
}

@media screen and (max-width: 768px){
#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 100%;
    /* right: -120%; */
  width:50%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0,0,0,.1);
  transform: translateX(-100%);
  transition: transform .4s;
  z-index: 90;
}

#h-nav.panelactive {
  left: 50%; 
}

#h-nav ul {
  width:70%;
  display: block;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}


#h-nav li {
  position: relative;
  border-bottom: solid 1.5px #224466;
  margin: 10% 0;
}
}


@media screen and (max-width: 480px){
#h-nav.panelactive {
    left: 40%; 
}
}

@media screen and (max-width: 480px){
#h-nav {
  width:60%;
}  
}


@media screen and (max-width: 768px) {
#h-nav li {
  margin: 20% 0;
}

/* #h-nav li::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 3.75px;
  background-color: #224466
} */

#h-nav li a {
  color: #333;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

#h-nav.panelactive {
  right: 0;
}
}

@media screen and (max-width: 480px){
#h-nav li {
  margin: 30% 0;
}  
}

@media screen and (max-width: 480px){
#h-nav li a {
  font-size: 0.75rem;
}  
}




/* fv*/
#fv {
  width:100%;
  height:100vh;
  background-image: url(../img/top_midashi.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-position: center center;
}

#fv h1 {
  padding: 20% 2.5% 0% 0%;
  font-size: 34px;
  color: #ffffff;
  font-weight: lighter;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  #fv h1 {
  padding: 20% 2.5% 0% 0%;
  font-size: 30px;
}
}

@media screen and (max-width: 768px) {
  #fv h1 {
  padding:25% 2.5% 0% 0%;
  font-size: 24px;
}
}

@media screen and (max-width: 480px){
    #fv h1 {
  padding:50% 2.5% 0% 0%;
  font-size: 22px;
}
}

#fv span{
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 768px){
  #fv span{
  font-size: 36px;
}
}

@media screen and (max-width: 480px){
   #fv span{
  font-size: 34px;
} 
}

/* .top_sponly{
  display: block;
}

@media screen and (max-width: 480px){
.top_sponly{
  display: none;
}  
} */

#fv p{
  width:40%;
  padding: 2.5% 2.5% 10% 0;
  text-align: left;
}

@media screen and (max-width: 480px){
#fv p{
  width:85%;
}  
}


/* what we do*/
#activity {
  margin: 6rem auto;
}

@media screen and (max-width: 480px){
#activity {
  margin: 2rem auto;
}
}

#activity .container {
  display: flex;
  justify-content: center;
  gap:5%;
  box-sizing: border-box;
  padding: 2rem 5rem;
  border-radius:2rem;
  background-image: url(../img/top_whatwedo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #activity .container {
  display: block;
  gap:5%;
  padding: 1.5rem 2.5rem;
}
}

@media screen and (max-width: 480px) {
  #activity .container {
  padding: 1rem 2.5rem;
}
}

.activity_midashi{
  width:30%;
}

@media screen and (max-width: 768px){
  .activity_midashi{
  width:100%;
}
}

.activity_midashi h2{
  font-size: 30px;
}

@media screen and (max-width: 768px){
  .activity_midashi h2{
  font-size: 26px;
}
}

@media screen and (max-width: 480px){
   .activity_midashi h2{
  font-size: 20px;
} 
}

.activity_midashi span{
  font-size: 16px;
}

@media screen and (max-width: 768px){
  .activity_midashi span{
  font-size: 16px;
}
}

@media screen and (max-width: 480px){
  #activity a{
    margin:1.5rem 0;
  } 
}

.activity_comment{
  width: 65%;
}

@media screen and (max-width: 768px){
 .activity_comment{
  width: 100%;
} 
}

.button_navy {
  display: inline-block;
  color: #fff;
  background-color: #00345D;
  border: 2px solid #00345D;
  margin: 2rem.5rem;
  padding:.5rem 1rem;
  font-size:16px;
  border-radius: 50px;
  transition: 0.5s ; 
}

@media screen and (max-width: 768px){
.button_navy {
  font-size:12px;
}
}

.button_navy:hover{
	opacity:0.5;
    transition: 0.5s; 
	/* transition:0.7s, transform 0.3s ease;; */
}


/* top Service */
#top_service {
 padding: 4rem 0;
 background-color: rgba(218, 231, 242,.8);
 box-sizing: border-box;
}

@media screen and (max-width: 480px){
 #top_service {
 padding: 2rem 0;
} 
}

#top_service .container{
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 768px){
  #top_service .container{
  display: block;
  gap:0;
}
}

.top_service_midashi{
  width: 25%;
}

@media screen and (max-width: 768px){
  .top_service_midashi{
  width: 100%;
}
}

.top_service_contents{
  width: 70%;
}

@media screen and (max-width: 768px){
 .top_service_contents{
  width: 100%;
} 
}

.top_service_contents_item{
  margin-bottom: 2rem;
  display: flex;
  justify-content:center ;
  gap:2.5%;
}

@media screen and (max-width: 768px){
  .top_service_contents_item{
  gap:5%;
}
}

@media screen and (max-width: 480px){
 .top_service_contents_item{
  width:100%;
  display: block;
  gap:0;
} 
}

.top_service_contents_item:last-of-type{
  margin-bottom: 0;
}

.top_service_contents_item img{
  width:30%;
  border-radius:30px ;
}

@media screen and (max-width: 480px){
 .top_service_contents_item img{
  width:100%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 3/2;
} 
}

.top_service_contents_item_description{
  width:67.5%;
}

@media screen and (max-width: 768px){
  .top_service_contents_item_description{
  width:65%;
}
}

@media screen and (max-width: 480px){
    .top_service_contents_item_description{
  width:100%;
}
}

.top_service_contents_item_description h3{
  margin-bottom:.5rem;
  font-size: 26px;
}

@media screen and (max-width: 1024px){
 .top_service_contents_item_description h3{
  font-size: 22px;
} 
}

@media screen and (max-width: 768px){
 .top_service_contents_item_description h3{
  font-size: 20px;
} 
}

@media screen and (max-width: 480px){
 .top_service_contents_item_description h3{
  width:100%;
  margin: 0.5rem auto;
  display: block;
  font-size: 16px;
  text-align: center;
} 
}

@media screen and (max-width: 768px){
     .top_service_contents_item_description p{
  font-size: 14px;
} 
}

@media screen and (max-width: 480px){
  .top_service_contents_item_description p{
  width:100%;
  font-size: 12px;
}  
}


/* top News */
#top_news {
 margin-top:6rem;
}

@media screen and (max-width: 480px){
#top_news {
 margin-top:2rem;
}  
}

#top_news .container {
 display: flex;
 justify-content: center;
 gap:5%;
}

@media screen and (max-width: 768px){
  #top_news .container {
 display: block;
}
}

.top_news_midashi{
  width: 25%;
}

@media screen and (max-width: 768px){
  .top_news_midashi{
  width: 80%;
}
}

.top_news_contents{
  width: 70%;
}

@media screen and (max-width: 768px){
  .top_news_contents{
  width: 100%;
  display: block;
  margin: 0 auto;
}
}

.button_aqua{
  display: inline-block;
  color: #fff;
  background-color: #79A1C0;
  border: 2px solid #79A1C0;
  margin: 2rem.5rem;
  padding:.5rem 1rem;
  font-size:16px;
  border-radius: 50px;
  transition: 0.5s ; 
}

@media screen and (max-width: 768px){
.button_aqua {
  font-size:12px;
}
}

.button_aqua:hover{
	opacity:0.5;
	transition:0.5s;
}

.top_news_contents_item{
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  gap:2.5%;
}

@media screen and (max-width: 480px){
 .top_news_contents_item{
  display: block;
  gap:0;
} 
}

.top_news_contents_item img{
width:30%;
border-radius:2rem;
}

@media screen and (max-width: 480px){
 .top_news_contents_item img{
width:100%;
display: block;
margin: 0 auto;
aspect-ratio: 3/2;
} 
}

.top_news_contents_item_descroption{
  width:67.5%;
}

@media screen and (max-width: 480px){
 .top_news_contents_item_descroption{
  width:100%;
  margin: 1rem auto 0;
} 
}

.top_news_contents_item_descroption h6{
  display: inline-block;
  padding:0.25rem 1rem;
  margin-bottom:.5rem;
  border:1.5px solid #00345D ;
  border-radius: 50px;
}

@media screen and (max-width: 768px){
.top_news_contents_item_descroption h6{
font-size: 12px;
}
}

@media screen and (max-width: 480px){
  .top_news_contents_item_descroption h6{
font-size: 10px;
  padding:0.15rem 0.75rem;
}
}

@media screen and (max-width: 768px){
  .top_news_contents_item_descroption p{
  font-size: 14px;
} 
}

@media screen and (max-width: 480px){
  .top_news_contents_item_descroption p{
  font-size: 12px;
}  
}


/* top career */
#top_career {
 padding: 4rem 0;
}

@media screen and (max-width: 480px){
  #top_career {
 padding: 2rem 0;
}
}

#top_career .container {
 padding:4rem 4rem 2rem;
 display: flex;
 justify-content: center;
 gap:5%;
 background-image: url(../img/top_career.png);
 background-repeat: no-repeat;
 background-size: cover;
 border-radius:2rem;
 box-sizing: border-box;
}

@media screen and (max-width: 768px){
  #top_career .container {
 padding:2rem 2rem 1rem;
  display: block;
 gap:0;
}
}

@media screen and (max-width: 480px){
 #top_career .container {
 padding:2rem;
} 
}

.top_career_description{
  width:52.5%;
}

@media screen and (max-width: 768px){
.top_career_description{
  width:100%;
}
}

.top_career_description h4{
 margin:4rem 0 2rem 0;
 font-size: 22px;
}

@media screen and (max-width: 768px){
 .top_career_description h4{
 font-size: 22px;
}
}

@media screen and (max-width: 768px){
.top_career_description h4{
 font-size: 20px;
 }
}

@media screen and (max-width: 480px){
  .top_career_description h4{
  margin:1rem 0 1rem 0;
  font-size: 16px;
 } 
}

.top_career_photo{
  width:42.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:2rem;
}

@media screen and (max-width: 768px){
  .top_career_photo{
  width:100%;
  display: grid;
}
}

.top_career_photo img{
  width:96%;
}

.top_career_photo_1{
  grid-column: 1 / 2;
  grid-row: 1 /  3;
}

.top_career_photo_2{
  grid-column: 2 /  3;
  grid-row: 2 /  4;
}

.top_career_photo_3{
  grid-column: 1 /  2;
  grid-row: 3 /  5;
}




/* top Contact */
#top_contact {
 margin:4rem;
}

@media screen and (max-width: 480px){
 #top_contact {
 margin:2rem auto;
 padding:0 2rem;
} 
}

#top_contact .container {
 display: flex;
 justify-content: center;
 gap:5%;
}

@media screen and (max-width: 768px){
 #top_contact .container {
 display: block;
 gap:0;
} 
}

.top_contact_midashi{
  width: 25%;
}

@media screen and (max-width: 768px){
  .top_contact_midashi{
  width: 100%;
}
}

#top_contact .container p{
  width: 70%;
}

@media screen and (max-width: 768px){
  #top_contact .container p{
  width: 100%;
}
}



/* top フッター*/
#information {
  color: #fff;
  background-color: #00345D;
  padding: 4rem;
  margin-top: 5%;
}

@media screen and (max-width: 768px){
 #information {
  padding: 2rem 0;
  display: block;
  margin: 0 auto;
  /* margin-top: 2.5%; */
} 
}

#information h5 {
  font-size: 24px;
  vertical-align: middle;
}

@media screen and (max-width: 480px){
#information h5 {
  font-size: 18px;
  vertical-align: middle;
}  
}

.information-midashi{
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  gap:15%;
  border-bottom: 2px solid #ffffff;
}

@media screen and (max-width: 480px){
  .information-midashi{
  display: block;
  gap:0;
}
}

.information-midashi-sub{
  width:40%
}

@media screen and (max-width: 480px){
  .information-midashi-sub{
  width:100%
}
}

.information-midashi-sub-sub{
  margin-bottom: 1rem;
  display: flex;
  align-items: center
}

.information-midashi-sub-sub img{
  width:15%
}

@media screen and (max-width: 480px){
 .information-midashi-sub-sub img{
  width:12.5%
} 
}

#information ul{
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1rem;
}

@media screen and (max-width: 480px){
  #information ul{
  width: 100%;
  margin-top: 1rem;
}
}

#information p {
  display: block;
  text-align: left;
}

.attention{
  font-size: 10px;
  margin-top:.5rem;
}

.attention:first-of-type{
 margin-top: 2rem;
}

#information li a{
  flex-direction: column;
  margin:.5rem auto;
  text-decoration: none;
  color:#fff;
  display: block;
}

#information li a span{
font-size: 12px;
}

#information p a {
 color: #ffffff;
}



/* フッター */
footer {
  background-color: #00345D;
  color: #fff;
  text-align: center;
  font-size:.8em;
  padding: 1rem;
}


/* サブページ共通の設定 */
.sub_midashi{
  width:100%;
  height:60vh;
  padding-top:72px;
  background-size: cover;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-position: center center;
}

.heading{
 padding:auto;
 color:#ffffff;
 font-size: 3rem;
 /* font-size: 60px; */
 line-height: 50px;
}

@media screen and (max-width: 768px){
  .heading{
 font-size: 2.5rem;
}
}

@media screen and (max-width: 480px){
  .heading{
 font-size: 2rem;
}
}

.heading span{
 font-size:1.2rem;
}

@media screen and (max-width: 768px){
  .heading span{
 font-size:1rem;
}
}

@media screen and (max-width: 480px){
    .heading span{
 font-size:0.75rem;
}
}


/* サブページ個別指定 */
/* Company */
#company_midashi{
  background-image: url(../img/company_midashi.jpeg);
}

#greet{
  margin: 4rem;
}

@media screen and (max-width: 480px){
  #greet{
  margin: 2rem 0;
}
}

.company_heading{
  margin: 2rem 0;
  color:#00345D ;
  font-size: 30px;
}

@media screen and (max-width: 768px){
  .company_heading{
  margin: 1rem 0;
  font-size: 24px;
}
}

@media screen and (max-width: 480px){
    .company_heading{
  font-size: 20px;
}
}

.greet_sub{
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 768px){
  .greet_sub{
  display: block;
}
}

.greet_sub img{
  width: 40%;
}

@media screen and (max-width: 768px){
  .greet_sub img{
  width: 100%;
  margin-bottom: 2rem;
}
}

.greet_sub_textblock{
  width:55%;
}

@media screen and (max-width: 768px){
 .greet_sub_textblock{
  width:100%;
} 
}

.greet_sub_textblock_main p{
  margin-bottom: 1.5rem;
}

.greet_sub_textblock_sign{
  margin-top:5rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px){
  .greet_sub_textblock_sign{
  margin-top:3rem;
}
}

.greet_sub_textblock_sign>div{
 display: inline-block;
}

#mission{
  padding:2rem 4rem;
  background-image:linear-gradient(to right, #E9F0FA, #A8CAF0) ;
}

@media screen and (max-width: 480px){
  #mission{
  padding:2rem 0;
}
}

.mission_box{
  width:100%;
  padding: 4rem 2rem;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius:20px;
}

@media screen and (max-width: 768px){
  .mission_box{
  padding: 1rem 2rem;
}
}

#mission h3{
  margin-top: 1rem;
  color: #00345D;
  font-size: 22px;
}

@media screen and (max-width: 768px){
 #mission h3{
  margin: 1rem 0 0.5rem 0;
    font-size: 20px;
}
}

@media screen and (max-width: 480px){
   #mission h3{
    font-size: 16px;
}
}

.mission_box_midashi{
  margin: 1rem;
  text-align: center;
  color: #01145A;
  font-size: 22px;
}

@media screen and (max-width: 768px){
 .mission_box_midashi{
  font-size: 20px;
} 
}

@media screen and (max-width: 480px){
  .mission_box_midashi{
  font-size: 16px;
}  
}

.company_sponly{
  display: none;
}

@media screen and (max-width: 480px){
.company_sponly{
  display: block;
}  
}

@media screen and (max-width: 768px){
 .mission_box p{
  font-size: 14px;
} 
}

@media screen and (max-width: 480px){
   .mission_box p{
  font-size: 12px;
} 
}

#profile{
  margin:4rem;
}

@media screen and (max-width: 480px){
  #profile{
  margin:2rem 0;
}
}

#profile table{
  width:100%;
  margin:2rem 0;
  border-spacing: 15px;
}

#profile table tr{
  width:100%;
}

#profile table th{
  width:25%;
  color:#00345D;
}

#profile table td{
  width:75%;
  border:none;
}

#profile table th, #profile table td{
  padding: 1.5rem 0; 
  border-bottom: 1.5px solid #79A1C0; 
}

#profile .noborder{
  border-bottom: none;
}

#profile iframe{
  width:100%;
}




/* Service */
#servive_midashi{
  background-image: url(../img/service_midashi.jpeg);
}

#service_message{
  margin-bottom: 2rem;
  padding: 2rem;
  background-color:#DAE7F280 ;
}

#service_message .container{
  width:60%;
}

@media screen and (max-width: 768px){
  #service_message .container{
  width:80%;
}
}

@media screen and (max-width: 480px){
   #service_message .container{
  width:100%;
} 
}

.service_heading{
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 30px;
  color: #00345D;
}

@media screen and (max-width: 1024px){
  .service_heading{
  font-size: 26px;
}
}

@media screen and (max-width: 768px){
  .service_heading{
  font-size: 22px;
}
}

@media screen and (max-width: 480px){
  .service_heading{
  font-size: 20px;
}
}

.service_sponly{
  display: none;
}

@media screen and (max-width: 480px){
 .service_sponly{
  display: block;
} 
}

#service_message .container p{
  margin: auto;
}

#service_overview{
  margin: 4rem 0;
}

.service_overview_contents{
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 768px){
 .service_overview_contents{
  margin-bottom: 2rem;
  display: block;
  gap:0;
} 
}

#service_overview img{
  width:30%;
  /* height: 30%; */
  border-radius:30px ;
  aspect-ratio: 2/1;
  /* margin: auto; */
}

@media screen and (max-width: 768px){
 #service_overview img{
  width:80%;
  display: flex;
  margin: 0 auto;
}
}

@media screen and (max-width: 768px){
.service_overview_contents_textblock{
  width:80%;  
  margin: 1rem auto 0 auto;
}
}

#service_overview h6{
  padding:0.5rem 1.5rem;
  display: inline-block;
  border:1.5px solid #D1C7C0;
  border-radius:50px;
  color: #D1C7C0;
  font-size: 14px;
}

@media screen and (max-width: 480px){
#service_overview h6{
  padding:0.25rem 1rem;
  font-size: 10px;
}  
}

.service_heading_sub{
  margin: 1rem;
  color: #00345D;
  font-size: 26px;
}

@media screen and (max-width: 1024px){
  .service_heading_sub{
  font-size: 24px;
}
}

@media screen and (max-width: 768px){
  .service_heading_sub{
  font-size: 20px;
}
}

@media screen and (max-width: 480px){
  .service_heading_sub{
  margin: 0.25rem;
  font-size: 18px;
}  
}

#service_overview a{
  font-size: 16px;
}

@media screen and (max-width: 480px){
#service_overview a{
  margin:1rem 0;
  font-size: 12px;
}  
}

@media screen and (max-width: 480px){
 #service_newbiz{
  margin-bottom: 2rem;
 } 
}

.service_newbiz_contents{
  box-sizing: border-box;
  width:100%;
  margin: 1.5rem 0;
  padding: 2rem 4rem;;
  display: flex;
  justify-content: center;
  gap: 5%;
  background-image:linear-gradient(to right, #41A4F850, #A8DBF450) ;
  border-radius: 30px;
}

@media screen and (max-width: 786px){
.service_newbiz_contents{
  padding: 1rem;
  display: block;
  gap: 0;
}  
}

.service_newbiz_contents img{
  width:25%;
  border-radius: 30px;
}

@media screen and (max-width: 786px){
 .service_newbiz_contents img{
  width:100%;
} 
}

.service_newbiz_contents_textblock{
  width:70%;
  position:relative;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  text-align: left;
}

@media screen and (max-width: 786px){
.service_newbiz_contents_textblock{
  width:100%;
  margin-top: 1rem;
}  
}

.service_newbiz_contents_textblock h6{
  padding:0.5rem 1.5rem;
  display: inline-block;
  border:1.5px solid #ffffff;
  border-radius:50px ;
  color: #00345D;
  font-size: 14px;
  background-color: #ffffff;
}

@media screen and (max-width: 786px){
.service_newbiz_contents_textblock h6{
  font-size: 14px;
}  
}

@media screen and (max-width: 480px){
.service_newbiz_contents_textblock h6{
  margin-top: 1rem;
  padding:0.25rem 1rem;
  font-size: 10px;
}  
}

.service_newbiz_contents_textblock_item p{
  margin:0.5rem;
}

.service_heading_newbiz{
  color: #00345D;
  font-size: 30px;
}

@media screen and (max-width: 1024px){
 .service_heading_newbiz{
  font-size: 26px;
} 
}

@media screen and (max-width: 768px){
  .service_heading_newbiz{
  font-size: 22px;
} 
}

@media screen and (max-width: 480px){
   .service_heading_newbiz{
  font-size: 18px;
} 
}

.arrow_button{
  width:2rem;
  height:2rem;
  font-size: 2rem;
  line-height:2rem;
  padding:0.5rem;
  position: absolute;
  right:10%;
  top:50%;
  background-color:#00345D;
  border-radius: 50px;
  color: #ffffff;
    transition: 0.5s ; 
}

@media screen and (max-width: 768px){
 .arrow_button{
  width:1.5rem;
  height:1.5rem;
  font-size: 1.5rem;
  line-height:1.5rem;
  padding:0.5rem;
} 
}

@media screen and (max-width: 480px){
  .arrow_button{
  width:1rem;
  height:1rem;
  font-size: 1rem;
  line-height:1rem;
  padding:0.5rem;
}  
}

.arrow_button:hover{
    transition: 0.5s ; 
  opacity:0.75;
}

.service_newbiz_contents_textblock_button a{
  color: #ffffff;
}

.service_newbiz_nayami{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  color: #00345D;
  font-size: 24px;
}

@media screen and (max-width: 1024px){
  .service_newbiz_nayami{
  font-size: 22px;
}
}

@media screen and (max-width: 768px){
 .service_newbiz_nayami{
  font-size: 20px;
}
}

@media screen and (max-width: 480px){
  .service_newbiz_nayami{
  font-size: 18px;
} 
}

.service_newbiz_nayami img{
  margin-right:0.5rem;
}

@media screen and (max-width: 1024px){
  .service_newbiz_nayami img{
  width:2rem;
}
}

@media screen and (max-width: 768px){
  .service_newbiz_nayami img{
  width:1.75rem;
}
}

@media screen and (max-width: 480px){
  .service_newbiz_nayami img{
  width:1.5rem;
  object-fit: contain;
}  
}

.service_newbiz_nayami_contents{
  display: flex;
  justify-content: center;
  gap: 5%;
}

@media screen and (max-width: 480px){
 .service_newbiz_nayami_contents{
  display: block;
  gap: 0;
} 
}

.service_newbiz_nayami_example{
  box-sizing: border-box;
  width:47.5%;
  margin:1rem 0;
  padding:2rem;
  display: flex;
  justify-content: center;
  gap:20%;
  border:1.5px solid #00345D;
  border-radius:30px;
}

@media screen and (max-width: 1024px){
  .service_newbiz_nayami_example{
  gap:14%;
}
}

@media screen and (max-width: 768px){
   .service_newbiz_nayami_example{
  padding:1.5rem;
  gap:12%;
} 
}

@media screen and (max-width: 480px){
 .service_newbiz_nayami_example{
  width:100%;
  padding:1rem;
} 
}

.service_newbiz_nayami_example_box h6{
  margin-bottom: 30%;
  color: #00345D;
  font-size: 22px;
}

@media screen and (max-width: 1024px){
  .service_newbiz_nayami_example_box h6{
  font-size: 20px;
}
}

@media screen and (max-width: 768px){
   .service_newbiz_nayami_example_box h6{
  font-size: 16px;
} 
}

.service_newbiz_nayami_example .arrow_button_nayami{
  width:2rem;
  height:2rem;
  font-size: 2rem;
  line-height:2rem;
  padding:0.5rem;
  display: block;
  background-color:#00345D;
  border-radius: 50px;
  color: #ffffff;
  transition: 0.5s;
}

@media screen and (max-width: 768px){
  .service_newbiz_nayami_example .arrow_button_nayami{
  width:1.5rem;
  height:1.5rem;
  font-size: 1.5rem;
  line-height:1.5rem;
  padding:0.5rem;
}
}

@media screen and (max-width: 480px){
  .service_newbiz_nayami_example .arrow_button_nayami{
  width:1rem;
  height:1rem;
  font-size: 1rem;
  line-height:1rem;
  padding:0.5rem;
}  
}

.arrow_button_nayami:hover{
  transition: 0.5s;
  opacity:0.75;
}

.service_newbiz_nayami_example img{
  width:30%;
  object-fit: contain;
}

@media screen and (max-width: 768px){
  .service_newbiz_nayami_example img{
  width:26%;
}
}

/* News */
#news_midashi {
  background-image: url(../img/news_midashi.png);
}

.news_container{
  width:90%;
  margin: 4rem  auto;
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 480px){
.news_container{
  margin:2rem auto;
  display: block;
  gap:0;
}  
}

#news_category{
  width:20%;
}

@media screen and (max-width: 480px){
 #news_category{
  width:100%;
} 
}

@media screen and (max-width: 480px){
 #news_category ul{
  display: flex;
  margin-bottom: 2rem;
 } 
}

#news_category ul li{
  margin-bottom: 2rem;
  color: #79A1C0;
}

@media screen and (max-width: 768px){
 #news_category ul li{
  font-size: 12px;
} 
}

@media screen and (max-width: 480px){
 #news_category ul li{
  margin:auto 1rem;
  text-align: center;
} 
}

#news_contents{
  box-sizing: border-box;
  width:75%;
}

@media screen and (max-width: 768px){
 #news_contents{
  width:75%;
} 
}

@media screen and (max-width: 480px){
 #news_contents{
  width:100%;
} 
}

.news_contents_item{
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 768px){
 .news_contents_item{
  margin-bottom: 2rem;
} 
}

@media screen and (max-width: 768px){
.news_contents_item{
  display: block;
  gap:0;
}  
}

.news_contents_item img{
  width:40%;
  overflow: hidden;
  border-radius: 30px;
  object-fit: contain;
}

@media screen and (max-width: 768px){
 .news_contents_item img{
  width:100%;
  display: block;
  margin: 0 auto;
} 
}

.news_contents_textblock{
  width:55%;
  display: flex;
  justify-content: center;
  gap:5%;
}

@media screen and (max-width: 768px){
 .news_contents_textblock{
  width:100%;
  margin-top: 1rem;
} 
}

.news_contents_textblock_item{
  width:75%;
}

@media screen and (max-width: 480px){
.news_contents_textblock_item{
  width:100%;
}  
}

.news_contents_textblock_item h6{
  padding:0.5rem 1.5rem;
  display: inline-block;
  border:1.5px solid #00345D;
  border-radius:50px ;
  color: #00345D;
  font-size: 16px;
}

@media screen and (max-width: 768px){
 .news_contents_textblock_item h6{
  padding:0.25rem 1.25rem;
  font-size: 12px;
} 
}

@media screen and (max-width: 480px){
  .news_contents_textblock_item h6{
  margin-top: 0.5rem;;
  padding:0.15rem 1rem;
  font-size: 10px;
}  
}

.news_contents_textblock_item p{
  margin:1rem;
}

@media screen and (max-width: 768px){
  .news_contents_textblock_item p{
  font-size: 14px;
}
}

@media screen and (max-width: 480px){
 .news_contents_textblock_item p{
  margin:0.5rem 0 0.5rem 0;
  font-size: 12px;
} 
}

.news_contents_textblock_item_button{
  width:20%;
  margin:auto;
}

.news_contents_textblock .arrow_button_news{
  width:1.5rem;
  height:1.5rem;
  font-size: 1.5rem;
  line-height:1.5rem;
  padding: 0.5rem;
  background-color:#00345D;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  transition: 0.5s ; 
}

@media screen and (max-width: 768px){
 .news_contents_textblock .arrow_button_news{
  width:1.25rem;
  height:1.25rem;
  font-size: 1.25rem;
  line-height:1.25rem;
  padding: 0.25rem;
  font-size: 1.25rem;
} 
}

.news_contents_textblock .arrow_button_news:hover{
  transition: 0.5s ; 
  opacity:0.75;
}


/* career */
#career_midashi{
  background-image: url(../img/career.jpeg);
}

#career_midashi .heading{
  color: #4A5559;
}

#career_message{
  margin:4rem 2rem;
}

@media screen and (max-width: 480px){
#career_message{
  margin:2rem auto;
}  
}

#career_message .container{
  display: flex;
  justify-content: center;
  gap:2.5%;
}

@media screen and (max-width: 1024px){
  #career_message .container{
  display: block;
}
}

.career_message_heading{
  width:40%;
  color: #00345D;
  font-size: 26px;
}

@media screen and (max-width: 1024px){
  .career_message_heading{
  width:100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
}

@media screen and (max-width: 768px){
 .career_message_heading{
  font-size: 22px;
} 
}

@media screen and (max-width: 480px){
  .career_message_heading{
  font-size: 18px;
}  
}

#career_message p{
  width:57.5%;
}

@media screen and (max-width: 1024px){
  #career_message p{
  width:100%;
}
}

#career_recruit .container{
  display: flex;
  justify-content: center;
  gap:5%;
}

.career_recruit_box{
  width:47.5%;
  padding:2rem 1.5rem;
  border:1.5px solid #00345D;
  border-radius: 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 480px){
 .career_recruit_box{
  padding:1rem 0.25rem;
} 
}

.career_recruit_box:hover{
 transform: scale(1.1,1.1);
}

@media screen and (max-width: 480px){
 .career_recruit_box a{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
} 
}

.career_recruit_box_sub{
  display: flex;
  justify-content: center;
  gap:5%;
  align-items: center;
}

@media screen and (max-width: 480px){
 .career_recruit_box_sub{
  width:100%;
} 
}

.career_recruit_box_sub_navy_arrow{
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 3px;
  border-radius: 9999px;
  background-color: #00345D;
}

@media screen and (max-width: 768px){
  .career_recruit_box_sub_navy_arrow{
  width: 2rem;
  height: 2px;
}
}

@media screen and (max-width: 480px){
   .career_recruit_box_sub_navy_arrow{
  width: 1.5rem;
  height: 1.5px;
} 
}

@media screen and (max-width: 768px){
.career_recruit_box{
  padding:1.25rem 0.75rem;
}
}

@media screen and (max-width: 480px){
.career_recruit_box{
  padding:0.25rem;
  aspect-ratio: 1 / 1;
}  
}

.career_recruit_box_sub_navy_arrow::before, .career_recruit_box_sub_navy_arrow::after{
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 1.5rem;
  height: 3px;
  border-radius: 9999px;
  background-color: #00345D;
  /* transform-origin: calc(50% - 2px) ; */
  transform-origin: 100% 50%;
}

@media screen and (max-width: 768px){
 .career_recruit_box_sub_navy_arrow::before, .career_recruit_box_sub_navy_arrow::after{
  top: calc(50% - 1px);
  width: 1rem;
  height: 2px;
} 
}

@media screen and (max-width: 480px){
 .career_recruit_box_sub_navy_arrow::before, .career_recruit_box_sub_navy_arrow::after{
  top: calc(50% - 1.3px);
  width: 0.75rem;
  height: 1.5px;
}   
}

.career_recruit_box_sub_navy_arrow::before{
  transform: rotate(35deg);
}

.career_recruit_box_sub_navy_arrow::after{
  transform: rotate(-35deg);
}

.career_recruit_box:last-of-type{
  color:#79A1C0;
  border:1.5px solid #79A1C0;
}

@media screen and (max-width: 480px){
.career_recruit_box_sub_navy{
     line-height: 1.2; 
}

.career_recruit_box_sub_aqua{
    line-height: 1.2;
}
}

.career_recruit_box_sub_aqua{
    color:#79A1C0;
}

.arrow_aqua, .arrow_aqua::before, .arrow_aqua::after{
   background-color:#79A1C0; 
}

.career_recruit_box h3{
  width:60%;
  text-align: center;
  font-size: 24px;
}

@media screen and (max-width: 768px){
 .career_recruit_box h3{
  font-size: 20px;
} 
}

@media screen and (max-width: 480px){
  .career_recruit_box h3{
  font-size: 16px;
}  
}

.career_recruit_box span{
  font-size: 12px;
}

@media screen and (max-width: 768px){
  .career_recruit_box span{
  font-size: 10px;
}
}

#career_interview{
  margin: 4rem 0 8rem 0;
}

@media screen and (max-width: 480px){
#career_interview{
  margin: 4rem 0;
}  
}

.career_interview_box{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 5%;
  row-gap:10%;
  margin:2rem 0 4rem 0;
}

@media screen and (max-width: 768px){
 .career_interview_box{
  width:100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7.5%;
  row-gap:5%;
  margin:2rem 0 4rem 0;
} 
}

@media screen and (max-width: 480px){
  .career_interview_box{
  display: block;
  margin:2rem 0 ;
}  
}

.career_interview_box_item{
  width:100%;
  display: block;
}

@media screen and (max-width: 480px){
.career_interview_box_item{
 margin:2rem 0;
}  
}

.career_interview_box_item img{
  width:100%;
}

.career_interview_box_item_date{
  font-size: 14px;
}

@media screen and (max-width: 768px){
 .career_interview_box_item_date{
  font-size: 10.5px;
} 
}

.career_interview_box_item_text{
  color:#4A4A4A;
}

@media screen and (max-width: 768px){
 .career_interview_box_item_text{
 font-size: 14px;
} 
}

@media screen and (max-width: 480px){
  .career_interview_box_item_text{
 font-size: 12px;
}  
}

#career_casual .heading_navy{
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 480px){
 #career_casual .heading_navy{
  margin-bottom: 1rem;
} 
}

.career_casual_box{
  display: flex;
  justify-content: center;
  gap: 5%;
}

@media screen and (max-width: 480px){
 .career_casual_box{
  display: block;
} 
}

.career_casual_box_text{
  width:45%;
}

@media screen and (max-width: 480px){
 .career_casual_box_text{
  width:100%;
} 
}

.career_casual_box_text p{
  margin-bottom: 2rem;
}

@media screen and (max-width: 480px){
 .career_casual_box_text{
  text-align: center;
} 
}

@media screen and (max-width: 480px){
 .career_casual_box_text p{
  margin-bottom: 1rem;
  text-align: left;
} 
}

@media screen and (max-width: 480px){
 #career_casual .button_aqua{
  margin:1rem auto;
 } 
}

.career_casual_box img{
  width:50%;
}

@media screen and (max-width: 480px){
 .career_casual_box img{
  width:100%;
  margin-bottom: 2rem;;
} 
}



/* contact */
#contact_midashi{
  background-image: url(../img/contact.jpeg);
}

#contact_midashi .heading{
  color: #4A4A4A;
}

#contact_text{
  /* max-width:60%; */
  margin: 4rem  0;
}

@media screen and (max-width: 480px){
#contact_text{
  margin: 2rem  0;
}  
}

#contact_text p{
  display:block;
  /* margin: 0 auto; */
    text-align: center;
}

@media screen and (max-width: 768px){
#contact_text p{
  text-align: left;
}  
}

#contact_form{
  width:100%;
  padding: 4rem 0;
  background-color:#DAE7F280;
}

@media screen and (max-width: 480px){
 #contact_form{
  padding: 2rem 0;
} 
}

.contact_form_item {
  /* border-top: 1px solid #ddd; */
  padding:1.75rem; 
  width:100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
.contact_form_item {
  display: block;
  padding:0; 
}  
}

.Form-Item-Label {
  width: 35%;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 768px){
 .Form-Item-Label {
  font-size: 16px;
} 
}

@media screen and (max-width: 768px){
  .Form-Item-Label {
  width:100%;
  margin-top: 1.25rem;
  font-size: 14px;
}  
}

.Form-Item-Label.isMsg {
  margin-top: 0.5rem;
  margin-bottom: auto;
}

.Form-Item-Label-Required {
  border-radius: 50px;
  margin-left: 0.75rem;
  padding: 0 0.5rem;
  width: 15%;
  display: inline-block;
  text-align: center;
  background: #2E6B5A;
  color: #ffffff;
  font-size: 14px;
}

@media screen and (max-width: 768px){
  .Form-Item-Label-Required {
  width: 7.5%;
  font-size: 10px;
}
}

@media screen and (max-width: 768px){
   .Form-Item-Label-Required {
  padding: 0.2rem 0.5rem;
} 
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 1em;
  height: 4rem;
  flex: 1;
  width:100%;
  background: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 768px){
  .Form-Item-Input {
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-left: 0;
  height: 2rem;
  font-size: 14px;
}
}

@media screen and (max-width: 480px){
  .Form-Item-Input {
  margin-top: 0.5rem;
  margin-left: 0;
  height: 2rem;
  font-size: 12px;
  box-sizing: border-box;
} 
}

.Form-Item-Textarea-title {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding:1em;
  height: 4rem;
  flex: 1;
  background: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 768px){
.Form-Item-Textarea-title {
  width:100%;
  margin-top: 0.5rem;
  margin-left: 0;
  padding:1em;
  height: 4rem;
  font-size: 18px;
  box-sizing: border-box;
}  
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding:1em;
  height: 10rem;
  flex: 1;
  background: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 768px){
.Form-Item-Textarea {
  width:100%;
  height: 6rem;
  margin-top: 0.5rem;
  margin-left: 0;
  font-size: 12px;
  box-sizing: border-box;
}  
}

#contact_submit{
  margin:4rem 0;
}

@media screen and (max-width: 768px){
#contact_submit{
  margin:2rem 0;
}  
}

#contact_submit .container{
  text-align: center;
}

#contact_submit p{
  margin-bottom:2rem;
  text-align: center;
}

@media screen and (max-width: 480px){
 #contact_submit p{
  /* text-align: left; */
  margin-bottom:1.5rem;
} 
}

.contact_sponly{
  display: none;
}

@media screen and (max-width: 480px){
.contact_sponly{
  display: block;
}  
}

.Form-Btn {
  /* width: 20%; */
  display: inline-block;
  border-radius:20px;
  margin:1rem auto;
  padding:1rem 3.5rem ; 
  letter-spacing: 0.05em;
  background: #001F42;
  color: #ffffff;
  font-weight: bold;
  font-size:16px;
  cursor: pointer;
  border:none;
  border-radius:50px;
  transition: 0.5s ; 
}

@media screen and (max-width: 768px){
 .Form-Btn {
  padding:0.75rem 1.5rem ; 
  font-size:14px;
} 
}

@media screen and (max-width: 480px){
.Form-Btn {
    /* width: 30%; */
  margin:1rem auto;
  padding:0.5rem 1rem ; 
  letter-spacing: 0.05em;
  font-size:12px;
}  
}

.Form-Btn:hover{
  opacity:0.5;
	transition:0.5s;
}

.checkbox {
  appearance: none;
  position: relative;
  width:2rem;
  height:2rem;
  border: 1px solid #001F42;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 768px){
 .checkbox {
  width:1.5rem;
  height:1.5rem;
} 
}

@media screen and (max-width: 480px){
 .checkbox {
  width:1.25rem;
  height:1.25rem;
}   
}

.checkbox:checked {
  background-color: #001F42;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px){
  .checkbox:checked::after {
  top: 6px;
  left: 4px;
}
}

@media screen and (max-width: 480px){
   .checkbox:checked::after {
  top: 4px;
  left: 2px;
} 
}

.checkboxItem a{
  cursor: pointer;
  border-bottom:1.5px solid #000080;
  color: #000080;
}